:local(.sup) {
    width: 164px;
    transition: all 0.1s ease;
}

:local(.sup_small) {
    width:60px;

}
:local(.sup_small) :local(.firstlevel) {
    opacity:0;
}

:local(.li) {
    list-style: none;
    color: #fff;
    line-height: 50px;
    background-color: #2b2f3e;
    position: relative;
    white-space: nowrap;
}
:local(.sup_li:before) {
    content:'';
    background-color:#428bca;
    height:55px;
    width: 3px;
    vertical-align: middle;
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    transition: all 0.8s ease;
}
:local(.sup_li_hover:before), :local(.sup_li_small_hover:before) {
    background-color:#428bca;
    opacity:1;
}
:local(.sup_li_hover), :local(.sup_li_small_hover) {
    background-color:#1f2332;
}

:local(.sup_li:after) {
    content:'';
    width:15px;
    height:15px;
    background:url(assets/arrow.png) no-repeat scroll 0 0 transparent;
    position: absolute;
    right: 10px;
    top: 20px;
    opacity: 0;
    transition: all 0.8s ease;
}
:local(.sup_li_hover:after) {
    opacity:1;
}
:local(.em) {
    margin: 0 20px;
    display:inline-block;
}
:local(.sup_li_img) {
    vertical-align: middle;
}

:local(.span) {
    font-size:14px;
}
:local(.sub) {
    position: absolute;
    left:164px;
    display: none;
    z-index: 1;
}
:local(.sub_li) {
    width:200px;
    padding-left:30px;
    background-color:#1f2332;
    line-height:40px;
    font-size:14px;
}
:local(.a){
    color:#fff;
    text-decoration:none;
    display:block;
}
:local(.sub_li:hover), :local(.a:hover){
    color:#428bca;
}
:local(.sub_li:hover) :local(.arrow) {
    background-image:url(assets/plus-blue.png);
}
:local(.arrow) {
    background: url(assets/plus.png) no-repeat scroll 0 0 transparent;
    position: absolute;
    right: 20px;
    display: inline-block;
    width:12px;
    height: 12px;
    top:15px;
    transition: all 0.3s ease;
}

:local(.sup_li_hover) :local(.sub),
:local(.sup_li_small_hover) :local(.sub) {
    display:block;
}
:local(.sup_li_small_hover) :local(.sub){
    left:60px;
}
:local(.a:hover) {
    color:#428bca;
    text-decoration:none;
}


:local(.three_li) {
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 20px;
    width: 165px;
    background-color:#1f2332;
}
:local(.threea){
    color:#fff;
    text-decoration: none;
    display: block;
}
:local(.three_li:before) {
    content: '';
    width: 12px;
    height: 30px;
    border-left: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: -16px;
}
:local(.three_li_first:before) {
    border-left:0
}
:local(.three_sub) {
    display:none;
}
:local(.three_li:first-child::before) {
    border-left:0;
}
:local(.arrow_blue) {
    transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    transition: all 0.3s ease;

}